<div id="edit-wrap">
    <div class="edit-post">
<h2>Edit Post</h2>

<div class="login-form">
    <div class="form-group">
        <label for="username-login">Title</label>
        <input class="form-input" type="text" id="post-title" value="{{title}}">
    </div>
    <div class="form-group">
        <label for="password-login">Content</label>
        <textarea class="form-input" type="text" id="post-content" rows="7">{{body}}</textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" id="post-update" data-id={{id}} data-user={{user_id}} data-created="{{format_date created_at}}">Update</button>
        <button class="btn btn-primary" type="submit" id="post-delete" data-id="{{id}}">Delete</button>
    </div>
</div>
</div>
</div>


<script src="/js/edit.js"></script>